-- σ«₧µù╢1σ»╣1σÆ¿Φ»óτ│╗τ╗ƒµò░µì«σ║ôµ₧╢µ₧ä
-- σ£¿ Supabase SQL Editor Σ╕¡Φ┐ÉΦíîµ¡ñΦäÜµ£¼

-- ============================================
-- µ¡ÑΘ¬ñ 1: σê¢σ╗║σÆ¿Φ»óΘÿƒσêùΦí¿
-- ============================================

CREATE TABLE IF NOT EXISTS public.consultation_queue (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  patient_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  status TEXT DEFAULT 'waiting' CHECK (status IN ('waiting', 'matched', 'in_consultation', 'completed', 'cancelled')),
  priority INTEGER DEFAULT 0, -- Σ╝ÿσàêτ║º∩╝êτ┤ºµÇÑµâàσå╡σÅ»µÅÉΘ½ÿ∩╝ë
  symptoms TEXT[], -- τö¿µê╖τùçτè╢∩╝êσÅ»ΘÇë∩╝ë
  notes TEXT, -- τö¿µê╖σñçµ│¿
  matched_pharmacist_id UUID REFERENCES public.doctors(id), -- σî╣ΘàìτÜäΦì»σëéσ╕ê
  matched_at TIMESTAMP WITH TIME ZONE, -- σî╣Θàìµù╢Θù┤
  started_at TIMESTAMP WITH TIME ZONE, -- σ╝ÇσºïσÆ¿Φ»óµù╢Θù┤
  ended_at TIMESTAMP WITH TIME ZONE, -- τ╗ôµ¥ƒσÆ¿Φ»óµù╢Θù┤
  position_in_queue INTEGER, -- ΘÿƒσêùΣ╜ìτ╜«
  estimated_wait_time INTEGER, -- ΘóäΦ«íτ¡ëσ╛àµù╢Θù┤∩╝êσêåΘÆƒ∩╝ë
  created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL
);

-- σê¢σ╗║τ┤óσ╝ò
CREATE INDEX IF NOT EXISTS idx_consultation_queue_patient_id ON public.consultation_queue(patient_id);
CREATE INDEX IF NOT EXISTS idx_consultation_queue_status ON public.consultation_queue(status);
CREATE INDEX IF NOT EXISTS idx_consultation_queue_matched_pharmacist_id ON public.consultation_queue(matched_pharmacist_id);
CREATE INDEX IF NOT EXISTS idx_consultation_queue_created_at ON public.consultation_queue(created_at);

-- ============================================
-- µ¡ÑΘ¬ñ 2: µë⌐σ▒òσÆ¿Φ»óΣ╝ÜΦ»¥Φí¿
-- ============================================

ALTER TABLE public.consultation_sessions 
ADD COLUMN IF NOT EXISTS queue_id UUID REFERENCES public.consultation_queue(id),
ADD COLUMN IF NOT EXISTS consultation_type TEXT DEFAULT 'scheduled' CHECK (consultation_type IN ('realtime', 'scheduled')),
ADD COLUMN IF NOT EXISTS estimated_wait_time INTEGER, -- ΘóäΦ«íτ¡ëσ╛àµù╢Θù┤∩╝êσêåΘÆƒ∩╝ë
ADD COLUMN IF NOT EXISTS position_in_queue INTEGER; -- ΘÿƒσêùΣ╜ìτ╜«

-- σê¢σ╗║τ┤óσ╝ò
CREATE INDEX IF NOT EXISTS idx_consultation_sessions_queue_id ON public.consultation_sessions(queue_id);
CREATE INDEX IF NOT EXISTS idx_consultation_sessions_consultation_type ON public.consultation_sessions(consultation_type);

-- ============================================
-- µ¡ÑΘ¬ñ 3: σê¢σ╗║Φì»τë⌐µÄ¿ΦìÉΦí¿
-- ============================================

CREATE TABLE IF NOT EXISTS public.consultation_medications (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  session_id UUID REFERENCES public.consultation_sessions(id) ON DELETE CASCADE NOT NULL,
  medication_name TEXT NOT NULL,
  medication_id UUID, -- σà│ΦüöΦì»τë⌐Φí¿∩╝êσªéµ₧£σ¡ÿσ£¿∩╝ë
  dosage TEXT, -- τö¿µ│òτö¿ΘçÅ
  frequency TEXT, -- µ£ìτö¿ΘóæτÄç∩╝êσªé∩╝Üµ»ÅµùÑ3µ¼í∩╝ë
  duration TEXT, -- µ£ìτö¿µù╢Θò┐∩╝êσªé∩╝Ü7σñ⌐∩╝ë
  instructions TEXT, -- τë╣µ«èΦ»┤µÿÄ
  recommended_by UUID REFERENCES auth.users(id) NOT NULL, -- µÄ¿ΦìÉΣ║║∩╝êΦì»σëéσ╕ê∩╝ë
  status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'accepted', 'rejected')),
  patient_notes TEXT, -- µéúΦÇàσñçµ│¿
  created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL
);

-- σê¢σ╗║τ┤óσ╝ò
CREATE INDEX IF NOT EXISTS idx_consultation_medications_session_id ON public.consultation_medications(session_id);
CREATE INDEX IF NOT EXISTS idx_consultation_medications_status ON public.consultation_medications(status);
CREATE INDEX IF NOT EXISTS idx_consultation_medications_recommended_by ON public.consultation_medications(recommended_by);

-- ============================================
-- µ¡ÑΘ¬ñ 4: σê¢σ╗║Φì»σëéσ╕êτè╢µÇüΦí¿
-- ============================================

CREATE TABLE IF NOT EXISTS public.pharmacist_availability (
  id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
  pharmacist_id UUID REFERENCES public.doctors(id) ON DELETE CASCADE NOT NULL UNIQUE,
  is_online BOOLEAN DEFAULT false, -- µÿ»σÉªσ£¿τ║┐
  is_busy BOOLEAN DEFAULT false, -- µÿ»σÉªσ┐Öτóî
  current_session_id UUID REFERENCES public.consultation_sessions(id), -- σ╜ôσëìσÆ¿Φ»óΣ╝ÜΦ»¥
  max_concurrent_sessions INTEGER DEFAULT 3, -- µ£Çσñºσ╣╢σÅæσÆ¿Φ»óµò░
  current_sessions_count INTEGER DEFAULT 0, -- σ╜ôσëìσÆ¿Φ»óµò░
  last_active_at TIMESTAMP WITH TIME ZONE, -- µ£ÇσÉÄµ┤╗Φ╖âµù╢Θù┤
  created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL
);

-- σê¢σ╗║τ┤óσ╝ò
CREATE INDEX IF NOT EXISTS idx_pharmacist_availability_pharmacist_id ON public.pharmacist_availability(pharmacist_id);
CREATE INDEX IF NOT EXISTS idx_pharmacist_availability_is_online ON public.pharmacist_availability(is_online);
CREATE INDEX IF NOT EXISTS idx_pharmacist_availability_is_busy ON public.pharmacist_availability(is_busy);

-- ============================================
-- µ¡ÑΘ¬ñ 5: σÉ»τö¿ RLS
-- ============================================

ALTER TABLE public.consultation_queue ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.consultation_medications ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.pharmacist_availability ENABLE ROW LEVEL SECURITY;

-- ============================================
-- µ¡ÑΘ¬ñ 6: σê¢σ╗║ RLS τ¡ûτòÑ
-- ============================================

-- σÆ¿Φ»óΘÿƒσêùτ¡ûτòÑ
DROP POLICY IF EXISTS "Users can view own queue" ON public.consultation_queue;
CREATE POLICY "Users can view own queue"
  ON public.consultation_queue
  FOR SELECT
  USING (auth.uid() = patient_id);

DROP POLICY IF EXISTS "Users can create queue" ON public.consultation_queue;
CREATE POLICY "Users can create queue"
  ON public.consultation_queue
  FOR INSERT
  WITH CHECK (auth.uid() = patient_id);

DROP POLICY IF EXISTS "Users can update own queue" ON public.consultation_queue;
CREATE POLICY "Users can update own queue"
  ON public.consultation_queue
  FOR UPDATE
  USING (auth.uid() = patient_id)
  WITH CHECK (auth.uid() = patient_id);

-- Φì»σëéσ╕êσÅ»Σ╗ÑµƒÑτ£ïµëÇµ£ëΘÿƒσêù
DROP POLICY IF EXISTS "Pharmacists can view all queues" ON public.consultation_queue;
CREATE POLICY "Pharmacists can view all queues"
  ON public.consultation_queue
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM public.doctors
      WHERE doctors.id = consultation_queue.matched_pharmacist_id
      AND doctors.user_id = auth.uid()
    )
  );

-- Φì»τë⌐µÄ¿ΦìÉτ¡ûτòÑ
DROP POLICY IF EXISTS "Users can view session medications" ON public.consultation_medications;
CREATE POLICY "Users can view session medications"
  ON public.consultation_medications
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM public.consultation_sessions
      WHERE consultation_sessions.id = consultation_medications.session_id
      AND (
        consultation_sessions.patient_id = auth.uid() OR
        EXISTS (
          SELECT 1 FROM public.doctors
          WHERE doctors.id = consultation_sessions.doctor_id
          AND doctors.user_id = auth.uid()
        )
      )
    )
  );

DROP POLICY IF EXISTS "Pharmacists can insert medications" ON public.consultation_medications;
CREATE POLICY "Pharmacists can insert medications"
  ON public.consultation_medications
  FOR INSERT
  WITH CHECK (
    auth.uid() = recommended_by AND
    EXISTS (
      SELECT 1 FROM public.consultation_sessions
      WHERE consultation_sessions.id = consultation_medications.session_id
      AND EXISTS (
        SELECT 1 FROM public.doctors
        WHERE doctors.id = consultation_sessions.doctor_id
        AND doctors.user_id = auth.uid()
      )
    )
  );

DROP POLICY IF EXISTS "Users can update own medications" ON public.consultation_medications;
CREATE POLICY "Users can update own medications"
  ON public.consultation_medications
  FOR UPDATE
  USING (
    EXISTS (
      SELECT 1 FROM public.consultation_sessions
      WHERE consultation_sessions.id = consultation_medications.session_id
      AND consultation_sessions.patient_id = auth.uid()
    )
  )
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.consultation_sessions
      WHERE consultation_sessions.id = consultation_medications.session_id
      AND consultation_sessions.patient_id = auth.uid()
    )
  );

-- Φì»σëéσ╕êτè╢µÇüτ¡ûτòÑ
DROP POLICY IF EXISTS "Pharmacists can view own availability" ON public.pharmacist_availability;
CREATE POLICY "Pharmacists can view own availability"
  ON public.pharmacist_availability
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM public.doctors
      WHERE doctors.id = pharmacist_availability.pharmacist_id
      AND doctors.user_id = auth.uid()
    )
  );

DROP POLICY IF EXISTS "Pharmacists can update own availability" ON public.pharmacist_availability;
CREATE POLICY "Pharmacists can update own availability"
  ON public.pharmacist_availability
  FOR UPDATE
  USING (
    EXISTS (
      SELECT 1 FROM public.doctors
      WHERE doctors.id = pharmacist_availability.pharmacist_id
      AND doctors.user_id = auth.uid()
    )
  )
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.doctors
      WHERE doctors.id = pharmacist_availability.pharmacist_id
      AND doctors.user_id = auth.uid()
    )
  );

-- τ«íτÉåσæÿσÅ»Σ╗ÑµƒÑτ£ïµëÇµ£ëΦì»σëéσ╕êτè╢µÇü
DROP POLICY IF EXISTS "Admins can view all availability" ON public.pharmacist_availability;
CREATE POLICY "Admins can view all availability"
  ON public.pharmacist_availability
  FOR SELECT
  USING (public.is_current_user_admin());

-- ============================================
-- µ¡ÑΘ¬ñ 7: σê¢σ╗║ΦºªσÅæσÖ¿
-- ============================================

-- µ¢┤µû░µù╢Θù┤ΦºªσÅæσÖ¿
CREATE OR REPLACE FUNCTION public.update_consultation_queue_updated_at()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
  NEW.updated_at = TIMEZONE('utc'::text, NOW());
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS update_consultation_queue_updated_at ON public.consultation_queue;
CREATE TRIGGER update_consultation_queue_updated_at
  BEFORE UPDATE ON public.consultation_queue
  FOR EACH ROW
  EXECUTE FUNCTION public.update_consultation_queue_updated_at();

CREATE OR REPLACE FUNCTION public.update_consultation_medications_updated_at()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
  NEW.updated_at = TIMEZONE('utc'::text, NOW());
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS update_consultation_medications_updated_at ON public.consultation_medications;
CREATE TRIGGER update_consultation_medications_updated_at
  BEFORE UPDATE ON public.consultation_medications
  FOR EACH ROW
  EXECUTE FUNCTION public.update_consultation_medications_updated_at();

CREATE OR REPLACE FUNCTION public.update_pharmacist_availability_updated_at()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
  NEW.updated_at = TIMEZONE('utc'::text, NOW());
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS update_pharmacist_availability_updated_at ON public.pharmacist_availability;
CREATE TRIGGER update_pharmacist_availability_updated_at
  BEFORE UPDATE ON public.pharmacist_availability
  FOR EACH ROW
  EXECUTE FUNCTION public.update_pharmacist_availability_updated_at();

-- ============================================
-- µ¡ÑΘ¬ñ 8: σÉ»τö¿ Realtime∩╝êΘ£ÇΦªüσ£¿ Supabase Dashboard Σ╕¡µëïσè¿σÉ»τö¿∩╝ë
-- ============================================

-- µ│¿µäÅ∩╝ÜΘ£ÇΦªüσ£¿ Supabase Dashboard ΓåÆ Database ΓåÆ Replication Σ╕¡µëïσè¿σÉ»τö¿Σ╗ÑΣ╕ïΦí¿τÜä Realtime
-- ALTER PUBLICATION supabase_realtime ADD TABLE public.consultation_queue;
-- ALTER PUBLICATION supabase_realtime ADD TABLE public.consultation_medications;
-- ALTER PUBLICATION supabase_realtime ADD TABLE public.pharmacist_availability;

-- ============================================
-- σ«îµêÉ∩╝ü
-- ============================================
-- τÄ░σ£¿σÅ»Σ╗Ñσ╝ÇσºïΣ╜┐τö¿σ«₧µù╢σÆ¿Φ»óτ│╗τ╗ƒΣ║å

